CompileFlags:
  Add: [
    -std=c++20,
    -I, f:/Desktop/sync-client-cpp/include,
    -I, f:/Desktop/sync-client-cpp/external,
    -I, f:/Desktop/sync-client-cpp/build/vcpkg_installed/x64-windows/include,
    -I, f:/Qt/6.10.2/msvc2022_64/include,
    -I, f:/Qt/6.10.2/msvc2022_64/include/QtCore,
    -I, f:/Qt/6.10.2/msvc2022_64/include/QtGui,
    -I, f:/Qt/6.10.2/msvc2022_64/include/QtQuick,
    -I, f:/Qt/6.10.2/msvc2022_64/include/QtQuickControls2,
    -I, f:/Qt/6.10.2/msvc2022_64/include/QtQuickEffects,
    -D, UNICODE,
    -D, _UNICODE,
    -D, HAVE_LIBMAGIC,
    -D, NOMINMAX,
    -fms-compatibility,
    -fms-extensions
  ]
