CompileFlags:
  CompilationDatabase: build
  Add: 
    - -I"include"
    - -I"src"
    - -I"external"
    - -I"external/sqlite_orm_repo/include"
    - -I"external/efsw/include"
    - -std=c++20
    - -xc++ 
